[submodule "themes/rocinante"]
	path = themes/rocinante
	url = https://github.com/mavidser/hugo-rocinante.git
[submodule "themes/marfa"]
	path = themes/marfa
	url = https://github.com/microdotblog/theme-marfa.git
